* {
    box-sizing: border-box;
}

:root {
    --background-color: rgb(255, 196, 0);
    --focus-ring-color: #000;
}

:focus-visible {
    box-shadow: 0 0 0 2px var(--background-color), 0 0 0 5px var(--focus-ring-color);
    outline-color: transparent;
    outline-style: solid;
}

button {
    cursor: pointer;
}

body {
    align-items: center;
    background-color: darkslateblue;
    color: #090041;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: .9rem;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
}

.cta-wrapper,
.success-message {
    background-color: aliceblue;
    border-radius: 2rem;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    max-width: 375px;
    overflow: hidden;
    width: 100%;
}

.form {
    align-content: center;
    flex: 1;
    padding: 1rem 2rem;
}

ul {
    list-style-image: url(assets/images/icon-list.svg);
    list-style-type: circle;
    padding-inline-start: 1.5rem;
}

li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 2rem;
}

label {
    align-items: flex-start;
    font-weight: bold;
}

.subscribe,
.dismiss,
input {
    height: 2.5rem;
    width: 100%;
}

input {
    border: #090041 1px solid;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

input::placeholder {
    color: darkslategrey;
    padding-left: 1rem;
}

.subscribe,
.dismiss {
    background-color: #090041;
    border-radius: 2rem;
    color: #e5e5e5;
    height: 2.5rem;
    outline: none;
}

.illustration {
    border-radius: 1rem;
    height: 200px;
    margin: 1rem;
    object-fit: cover;
    order: -1;
}

.success-content {
    align-content: center;
    flex: 1;
    padding: 3rem 2rem;
}

.sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

h1 {
    font-size: 2rem;
    margin-top: 0px;
}

.remove,
.validation {
    display: none;
}

@media (min-width: 900px) {
    .cta-wrapper {
        flex-direction: row;
        min-width: 800px;
    }

    .illustration {
        height: 100%;
        order: 1;
        width: 45%;
    }

    h1 {
        font-size: 3rem;
    }
}